.sidebar {
  align-items: center;
  background-color: #ffb39c;
  border: 1px solid;
  border-color: #000000;
  border-radius: 123px;
  display: flex;
  flex-direction: column;
  gap: 97px;
  height: 796px;
  justify-content: center;
  left: 38px;
  padding: 20px 44px;
  top: 69px;
}

.sidebar button {
  background-color: #a25ce0;
  border: none;
  margin-bottom: 15px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 15px;
  color: white;
  outline: none;
  transition: background-color 0.3s;
}

.sidebar button:hover {
  background-color: #d060e9;
}

.main-actions {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 297px;
  justify-content: center;
  padding: 62px 0px 0px;
  position: relative;
}
